/* ------ Barre de nav ----- */

nav a:nth-child(2):hover ~ #indicator
{
    left: 24%;
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 49%;
}

nav a:nth-child(4):hover ~ #indicator
{
    left: 75.5%;
}


#indicator
{
    position: absolute;
    left: 5px;
    top: 4px;
    width: 24%;
    height: 87%;
    background-color: #b8caec;
    border-radius: 10em;
    transition: 0.2s ease left;
    z-index: 1;
}

/* ----- Profil -----*/

#photo_identité {
    height: 500px;
}

#profil {
    margin: 200px 220px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100px 500px;
    box-shadow: 0 0 20px #1F2446;
}

#profil h1 {
    grid-area: 1/1/2/3;
    background-color: #242b53;
    color: #E9EBF6;
    letter-spacing: 100px;
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding-left: 4%;
    padding-top: 15px;
}

#profil img {
    grid-area: 2/1/3/2;
}

/*
#profil img:hover {
    filter: blur(2px);
    transition: 0.2s ease-in-out;
}
*/


#profil div {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    background-color: #D4D7EE;
    justify-content: space-between;
}

#profil div .information {
    align-items: center;
}

#profil div .information h2 {
    width: 100%;
    height: 60px;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    align-items: center;
}

#profil div .information p {
    height: 50%;
    font-size: 19px;
}

/* ------- CV ------- */

#cv {
    width: 77%;
    margin: 0px auto;
    margin-bottom: 180px;
    background-color: #1F2446;
    box-shadow: 0 0 20px #1F2446;
    height: 300px;
}

#cv h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 20px;
    color: #E9EBF6;
    background-color: #29305D;
    margin-bottom: 0px;
    padding-top: 20px;
    height: 80px;
}

#cv a {
    background-color: #D4D7EE;
    margin: 44%;
    position: relative;
    padding: 5px 60px;
    top: 55px;
    position: relative;
    text-decoration: none;
    color: #1F2446;
    font-size: 40px;
    border-radius: 10em;
    transition: 0.5s ease-in-out background-color;
}

#cv a:hover {
    background-color: #a0a2b3;
    color: #2f386b;
    transition: 0.5s ease-in-out all;
}


/* ----- Parcours ----- */

#parcours{
    margin: 0px auto;
    display: block;
    position: relative;
    width: 77%;
    color: #E9EBF6;
    font-size: 20px;
}

#parcours h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    color: #E9EBF6;
    background-color: #333B75;
    box-shadow: 0 0 20px #333B75;
    z-index: -1;
    margin-bottom: 0px;
    padding-top: 20px;
    height: 80px;
}

#parcours ul{
    margin: 0px;
    padding: 40px 0 0 0;
    display:inline-block;
    width: 100%;
    z-index: 1;
    background-color: #1F2446;
    box-shadow: 0 0 20px #333B75;
}

#parcours ul li{
    list-style: none;
    margin-left: 50%;
    height: 80px;
    border-left:4px double #E9EBF6;
    padding:0 0 50px 30px;
    position:relative;
}

#parcours ul li:last-child{ 
    border-left:0;
}

#parcours ul li::before{
    position: absolute;
    left: -21.5px;
    content: " ";
    border: 10px solid #a4c7f5;
    border-radius: 500%;
    background: #a4c7f5;
    box-shadow: 0 0 10px #86D6FF;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
#parcours ul li:hover::before{
    border-color:  #258CC7;
    background: #258CC7;
    box-shadow: 0 0 10px #258CC7;
    transition: all 0.3s ease-in-out;
}

ul li .item-detail{
    color:#d4d6dd;
    font-size:14px;
}

ul li .date{
    color: #a7a7a7;
    position: absolute;
    width: 100px;
    top: 6px;
    left: -140px;
    text-align: right;
    font-size: 15px;
}

#dutInfo {
    width: 230px;
}


/* ------------------ */

