/* ----- ANIMATIONS ----- */

@keyframes entreeDroite {
    0% {
        margin-left: 300px;
        opacity: 0%;
    }

    100% {
        margin-left: 10%;
        opacity: 100%;
    }
}

@keyframes entreeGauche {
    0% {
        margin-right: 300px;
        opacity: 0%;
    }

    100% {
        margin-right: 10%;
        opacity: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


/* ----- Général ----- */

body {
    padding-bottom: 0px;
}

/* ------ Barre de nav ----- */

nav a:nth-child(1):hover ~ #indicator
{
    left: 0.5%;
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 49%;
}


nav a:nth-child(4):hover ~ #indicator
{
    left: 75.5%;
}

#indicator {
    position: absolute;
    left: 24%;
    top: 4px;
    width: 24%;
    height: 87%;
    background-color: #b8caec;
    border-radius: 10em;
    transition: 0.2s ease left;
    z-index: 1;
}


/* ----- Projet BANG ----- */

#projets {
    position: absolute;
    height: 3000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projet:nth-child(odd) {
    align-self: flex-end;
}

.actif.projet:nth-child(odd) {
    animation: entreeGauche 2s;
    opacity: 100%;
}

.projet:nth-child(even) {
    align-self: flex-start;
}

.actif.projet:nth-child(even) {
    animation: entreeDroite 2s;
    opacity: 100%;
}

.projet {
    width: 40%;
    border-radius: 30px;
    background-color: #E9EBF6;
    box-shadow: 0 0 10px#E9EBF6;
    height: 170px;
    margin: 0px 10%;
    transition: ease-in-out 0.2s;
    opacity: 0%;
}

.projet:hover {
    background-color: #c3d4f5;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.projet h1, .projet p {
    text-align: center;
    color: #414eb1;
}


/* ----- SVG -----*/

#projetsSvg {
    height: 3000px;
    width: 100%;
}

#projetsSvg path {
    fill: none;
    stroke: white;
    stroke-width: 2;
    filter: drop-shadow(0 0 5px white);
    z-index: 0;
    animation: fadeIn 4s;
}