h1 {
    color: #D4D7EE;
    letter-spacing: 20px;
    margin-bottom: 150px;
    font-size: 80px;
    animation: scintillement 2s linear infinite;
}

h2 {
    font-size: 15px;
    color: #E9EBF6;
    letter-spacing: 10px;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}