<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Portfolio Sylvain BATTE</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <link href="assets/images/favicon.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">

</head>


<body>

    
    <!-- {COMMUN} -->
    
    <!-- Page de chargement -->
    <div class="chargement">
        <h1>Chargement</h1>
        <h2>Sylvain Batte</h2>
    </div> 
    <!-- Barre de nav-->
    <nav>
        <a href="/">Accueil</a>
        <a href="/projets/">Projets</a>
        <a href="/activites/">Activités</a>
        <a href="/contact/">Contact</a>
        <div id="indicator"></div>
    </nav>
    

    <div id="divAccueil">

      <div class="divInformation" id="profil">
        <h1>Profil</h1>
        <div>
          <img src="assets/images/portrait.jpg" alt="Photo Sylvain Batte">
          <div id="profilInformations">
            <div class="information">
              <h2>Prénom</h2>
              <p>Sylvain</p>
            </div>
            <div class="information">
              <h2>Nom</h2>
              <p>Batte</p>
            </div>
            <div class="information">
              <h2>Age</h2>
              <p>18 ans</p>
            </div>
            <div class="information">
              <h2>Ecole</h2>
              <p>IUT Montpellier/Sète</p>
            </div>
          </div>
        </div>
      </div>

      <div class="divInformation activable" id="parcours">
        <h1>MON PARCOURS UNIVERSITAIRE</h1>
        <ul>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2016-2017
                </div>
                <div>Brevet des collèges</div>
                <div class="item-detail">Mention très bien</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2019-2020
                </div>
                <div>Baccalauréat</div>
                <div class="item-detail">Mention assez bien</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2020-2022
                </div>
                <div id="dutInfo">DUT Informatique</div>
                <div class="item-detail">Acquis</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2022-2023
                </div>
                <div id="dutInfo">Licence Pro APIDAE</div>
                <div class="item-detail">En cours</div>
              </li>
        </ul>
      </div>


    </div>


    <!--<div id="profil" class="sectionInformations">

        <h1>PROFIL</h1>
        
        <img src="/assets/images/portrait.jpg" alt="Photo d'identité" id="photo_identité">
        <div>
            <div class="information">
                <h2>Prénom</h2>
                <p>Sylvain</p>
            </div>
            <div class="information">
                <h2>Nom</h2>
                <p>Batte</p>
            </div>
            <div class="information">
                <h2>Age</h2>
                <p>18 ans</p>
            </div>
            <div class="information">
                <h2>Ecole</h2>
                <p>IUT Montpellier/Sète</p>
            </div>
        </div>

    </div>

    <div id="cv" class="sectionInformations">
        <h2>MES INFORMATIONS</h2>
        <a href="/assets/pdfs/cv.pdf" onclick="window.open(this.href); return false;">CV</a>
    </div>

    <div id="parcours" class="sectionInformations">

        <h2>MON PARCOURS UNIVERSITAIRE</h2>
        
        <ul>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2016-2017
                </div>
                <div>Brevet des collèges</div>
                <div class="item-detail">Mention très bien</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2019-2020
                </div>
                <div>Baccalauréat</div>
                <div class="item-detail">Mention assez bien</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2020-2022
                </div>
                <div id="dutInfo">DUT Informatique</div>
                <div class="item-detail">Acquis</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2022-2023
                </div>
                <div id="dutInfo">Licence Pro APIDAE</div>
                <div class="item-detail">En cours</div>
              </li>
        </ul>
    </div>-->

    <script defer src="app.js"></script>

</body>

</html>