<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Portfolio Sylvain BATTE</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="index.css" rel="stylesheet" type="text/css">
    <link href=" assets/images/favicon.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">

</head>


<body>

    
    <!-- {COMMUN} -->
    
    <!-- Page de chargement 
    <div class="chargement">
        <h1>Chargement</h1>
        <h2>Sylvain Batte</h2>
    </div> -->
    <!-- Barre de nav-->
    <nav>
        <a href="/portfolio/index.html">Accueil</a>
        <a href="/portfolio/a_propos/a_propos.html">A propos</a>
        <a href="/portfolio/projets/projets.html">Projets</a>
        <a href="/portfolio/activites/activites.html">Activités</a>
        <a href="/portfolio/en_cours/en_cours.html"> En cours</a>
        <div id="indicator"></div>
    </nav>
    
    <!-- ------------ -->



    <div id="profil">

        <h1>PROFIL</h1>
        
        <img src="/portfolio/assets/images/portrait.jpg" alt="Photo d'identité" id="photo_identité">
        <div>
            <div class="information">
                <h2>Prénom</h2>
                <p>Sylvain</p>
            </div>
            <div class="information">
                <h2>Nom</h2>
                <p>Batte</p>
            </div>
            <div class="information">
                <h2>Age</h2>
                <p>17 ans</p>
            </div>
            <div class="information">
                <h2>Ecole</h2>
                <p>IUT Montpellier/Sète</p>
            </div>
        </div>

    </div>

    <div id="cv">
        <h2>ACCEDEZ A MON CV</h2>
        <a href="/portfolio/assets/pdfs/cv.pdf" onclick="window.open(this.href); return false;">CV</a>
    </div>

    <div id="parcours">

        <h2>MON PARCOURS UNIVERSITAIRE</h2>
        
        <ul>
            <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2016-2017
                </div>
                <div>Brevet des collèges</div>
                <div class="item-detail">Mention très bien</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2019-2020
                </div>
                <div>Baccalauréat</div>
                <div class="item-detail">Mention assez bien</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="date">
                  2020-2022
                </div>
                <div id="dutInfo">DUT Informatique</div>
                <div class="item-detail">En cours</div>
              </li>
        </ul>
    </div>



    <!-- {COMMUN} -->
    <footer>


        <!-- Liste bas de page -->
        <a href="/portfolio/contact/contact.html">Contact</a>
        <a href="/portfolio/404.html">Erreur 404</a>

        <p>© 2021 Sylvain BATTE</p>


    </footer>
    <!-- Fin Footer -->

    <script src=" app.js"></script>

</body>

</html>