html {

    font-family: 'KoHo', sans-serif;
    background: linear-gradient(180deg, #555FBB, #15182F);
}

/* ------ NAV BAR ------ */


/* Ancienne nav bar
nav {
    background-color: #E9EBF6;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    border-radius: 10em;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    position: fixed;
}


nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    margin: 5px 0;
    padding-left: 7px;
    padding-right: 88px;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    padding-top: 11px;
    font-size: 22px;
    color: #15182F;
    display: block;
    width: 200%;
    height: 45px;
    border-radius: 10em;
}

nav ul li a:hover {
    background-color: #575a6b;
    color: #d7d9ec;
    overflow: hidden;
    transition: 0.2s ease;
}

nav ul li a:hover:before, nav ul li a:hover:after {
    transform: scale(1);
}

.actual {
    background-color: #3A3C48;
    color: #E9EBF6;
}

*/


nav
{
    position: fixed;
    top: 50px;
    left: 50%;
    width: 70%;
    height: 7%;
    display: table;
    transform: translateX(-50%);
    background-color: #E9EBF6;
    border-radius: 10em;
}

nav a
{
    position: relative;
    
    display: table-cell;
    text-align: center;
    color: #15182F;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 20px;
    transition: 0.2s ease color;
    z-index: 2;
}

nav a:before, nav a:after
{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}


nav a:hover
{
    color: #E9EBF6;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}



/* --------------------- */


/* ------ FOOTER ------ */

footer {
    margin-top: 200px;
    height: 300px;
    background-color: #15182F;
}

/* -------------------- */