/* ------ Barre de nav ----- */

nav a:nth-child(1):hover ~ #indicator
{
    left: 0.5%;
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 40%;
}

nav a:nth-child(4):hover ~ #indicator
{
    left: 59%;
}

nav a:nth-child(5):hover ~ #indicator
{
    left: 81.5%;
}


#indicator
{
    position: absolute;
    left: 20%;
    top: 4px;
    width: 18%;
    height: 87%;
    background-color: #ADB2BB;
    border-radius: 10em;
    transition: 0.2s ease left;
    z-index: 1;
}

/* ----- Carte mentale ----- */

#carteMentale {
    margin: 100px 15%;
    background: #AFBCCF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #29305D;
}

#carteMentale img {
    width: 80%;
}

#carteMentale h1 {
    color: #E9EBF6;
    margin: 0px;
    padding-top: 15px;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 20px;
    background: #29305D;
}

/* ----- Nuage de mots ----- */

#nuageDeMots {
    background: #404040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #333B75;
    margin: 0 15%;
}

#nuageDeMots img {
    height: 500px;
}

#nuageDeMots h1 {
    color: #E9EBF6;
    margin: 0px;
    padding-top: 15px;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 16px;
    background: #333B75;
}

/* ----- Présentation perso ----- */

#présentationPersonelle {
    height: 390px;
    box-shadow: 0 0 20px #3e4480;
    width: 70%;
    margin: 100px auto ;
    background: #98a9c2;
}

#présentationPersonelle h1 {
    color: #E9EBF6;
    margin: 0px;
    padding-top: 15px;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
    background: #3e4480;
}

#présentationPersonelle p {
    text-align: center;
    font-size: 18px;
}




/* ----- Langues ----- */

#langues{
    background: #778dad;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px #495196;
    margin: 100px 15%;
}

#langues h1 {
    color: #E9EBF6;
    margin: 0px;
    padding-top: 15px;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 12px;
    background: #495196;
}

#langues h2 {
    letter-spacing: 5px;
    padding: 0px;
    font-size: 25px;
}


.slider{
    height: 100px;
    width: 40%;
}

/* ------- PEC ------- */

#pec{
    height: 390px;
    box-shadow: 0 0 20px #5e66b1;
    width: 70%;
    margin: 100px auto ;
    text-align: center;
    background: #98a9c2;
}

#pec h1 {
    color: #E9EBF6;
    margin: 0px;
    padding-top: 15px;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 12px;
    background: #5e66b1;
}

#pec a {
    text-decoration: none;
    margin: 0px 20px;
    color: #E9EBF6;
    background: #5e66b1;
    border-radius: 10em;
    padding: 5px 30px;
    filter: blur(0.5px);
    transition: 0.2s ease-in;
}

#pec a:hover {
    filter: none;
    background: #7d85ce;
}